.homeslider {

  &__img {
    background: $gray-100;
  }

  &__list {
    margin: 0;
  }

  &__slider {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: 27%;

  }

  &__desc {
    * {
      color: $white;
    }

    p:first-child {
      margin-bottom: 10px;
    }

    .display-1 {
      @include font-size(30px);
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: none;

      +p {
        @include font-size(15px);

      }

    }

    @include media-breakpoint-down(xl) {
      .display-1 {
        @include font-size(26px);
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: none;

        +p {
          @include font-size(14px);

        }

        img {
          max-width: 60px;
          height: auto;
        }
      }
    }

  }


  &__arrow {
    top: 0;
    bottom: 0;
    padding: 0;
    line-height: 1;

    >* {
      font-size: rem-calc(40px);
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}