
.font-reset {
  /* stylelint-disable */
  font-size: inherit !important;
  /* stylelint-enable */
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.line-height-reset {
  /* stylelint-disable */
  line-height: inherit !important;
  /* stylelint-enable */
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}
.font-sm {
  @include font-size($font-size-sm);
}

.font-lg {
  @include font-size($font-size-lg);
}

.font-xs {
  @include font-size($font-size-xs);
}

.font-base {
  @include font-size($font-size-base);
}
