#cms {
.page-header {
  display:none;
}}
.cms-content {
  ol,
  ul {
    padding-left: .75rem;
    list-style: inherit;
    list-style-position: inside;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .cms-footer {
    display: grid;
    iframe {
      width:100%;
    }
  }
  
  h1 {
    text-align: left;
    border-bottom: 1px solid $primary;
    padding-bottom: 15px; 
    text-transform: none;
    +h2 {
      font-weight: normal;
      text-transform: none;
      
    }
  }
  h3 {
    font-size: rem-calc(18px);
  }
}
