.grid_mm {
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    .pre-footer-container &{
        @include media-breakpoint-up(lg) {
            grid-template-areas: "storeInfo storeFront";
            grid-template-columns: 1fr auto;
          }
    }
}