
.l-footer {
  padding-top: map-get($spacers, 5);
  margin-top: auto;
}
.pre-footer-container {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 2);
  margin-top: map-get($spacers, 5);
  background: $white;

  .storeFront {
    grid-area: storeFront;

  }
  .storeInfo {
    grid-area: storeInfo;
    h2 {
      font-weight:bold;
      i, strong {
        color: $strong-red;
      }
    }
    > div {
    
      @include media-breakpoint-up(sm) {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:15px;
    }
  }
  

  }
}

.footer-container {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 2);
  margin-top: map-get($spacers, 5);
  background: $gray-100;
  
}

