
.l-footer {
  padding-top: map-get($spacers, 5);
  margin-top: auto;
}
.pre-footer-container {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 2);
  margin-top: map-get($spacers, 5);
  background: $white;
}

.footer-container {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 2);
  margin-top: map-get($spacers, 5);
  background: $gray-100;
  .storeFront {
    grid-area: "storeFront";
  }
  .storeInfo {
    grid-area: "storeInfo";
  }
}

