.l-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 5);

  background:  #f1f1f1;
}
#contact-link a {
  color:$gray-vet
}
.featured-products,
.brands {

  h3,
  .h3 {
    text-align: center;
  }
}
.product-manufacturer {
  margin-bottom: 20px;
  .img-thumbnail {
    border:none;
  }
}

.talk_to_expert {
  border-top:1px dotted $gray-500;
  padding-top: map-get($spacers, 3);
  img {
    display:block;
    margin:map-get($spacers, 2) auto;
  }
  h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: rem-calc(28px);

    +.small {
      text-align: center;
      font-size: rem-calc(18px);
      color: $gray-600;
      margin-bottom: map-get($spacers, 3);
    }
  }

  li {
    &.card:hover {
      background: $gray-300;
    } 

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;

      &:hover {
        text-decoration: none;
      }

      i {
        margin-bottom: 5px;
        font-size: rem-calc(24px);
      }

      .where {
        color: $gray-600;
        font-size: rem-calc(12px);
      }

      .strong {
        font-weight: bold;
        color: $black;
        font-size: rem-calc(16px);

      }

      @include media-breakpoint-down(md) {
        .where {
          color: $gray-600;
          font-size: rem-calc(12px);
        }

        .strong {
          font-weight: bold;
          color: $black;
          font-size: rem-calc(18px);

        }
      }
    }
  }
  .contact_options {
    border-bottom:1px dotted $gray-500;
    padding-bottom: map-get($map: $spacers, $key: 2);
  }
  .notavailable {
    display: grid;
    padding: map-get($spacers, 3);
    grid-template-columns: auto 40px;
    margin-top: map-get($spacers, 3);
    
    .text {
      justify-content: center;
    display: flex;
    flex-direction: column;
    }
    .strong {
      font-size: rem-calc(20px);
      font-weight: bold;
    }

    .simple {
      font-size: rem-calc(15px);
      color: $gray-600;
    }
    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        .icon{
          grid-row:1;
          grid-column: 1;
        }
      
    }
    @include media-breakpoint-down(sm) {
      .text {
        align-items: center;
      }
    }
  }
}

.product_infos {
  .card {
    .card-header {
      background: none;
      border-bottom: 0;
    }

    .nav-tabs .nav-link {
      margin-bottom: -2px;
      border: 2px solid transparent;
      font-weight: bold;
    }

    .nav-tabs {
      border-bottom: 2px solid #dee2e6;

    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      border-color: #fff #fff $primary;
    }
  }

  .product-features {
    dt,dd {
      margin:0;
      padding:10px 5px;
      
      display:flex;
      align-items: center;
      justify-items: flex-start;
      min-height: 40px;
    }
    .odd {
      background: $breadcrumb-bg;
    }
  }
}
#search_filters .h5{
  text-transform: none;
}
#checkout .logo {
  max-height: 120px;
}